
<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <img src="favicon.ico" alt="" class="rounded">

    </div>
    <div class="col-md-6 ">
      <div class="card">
      <div class="card-block">
        <h3 class="card-title">Datos Personales</h3>
        <p><label for="">Nombre:</label></p>
        <p><label for="">Matricula:</label></p>
        <p><label for="">Carrera:</label></p>
        <p><label for="">Semestre:</label></p>
        <a [routerLink]="['/edit-perfil']" class="btn btn-primary">Editar</a>
      </div>
    </div>
    </div>

  </div>

</div>
